/* pt-sans-regular - cyrillic_latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-v11-cyrillic_latin-regular.eot"); /* IE9 Compat Modes */
  src: local("PT Sans"), local("PTSans-Regular"),
    url("../fonts/pt-sans-v11-cyrillic_latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/pt-sans-v11-cyrillic_latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/pt-sans-v11-cyrillic_latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/pt-sans-v11-cyrillic_latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/pt-sans-v11-cyrillic_latin-regular.svg#PTSans")
      format("svg"); /* Legacy iOS */
}
/* pt-sans-700 - cyrillic_latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-v11-cyrillic_latin-700.eot"); /* IE9 Compat Modes */
  src: local("PT Sans Bold"), local("PTSans-Bold"),
    url("../fonts/pt-sans-v11-cyrillic_latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/pt-sans-v11-cyrillic_latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/pt-sans-v11-cyrillic_latin-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/pt-sans-v11-cyrillic_latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/pt-sans-v11-cyrillic_latin-700.svg#PTSans") format("svg"); /* Legacy iOS */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 1280px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

.main-header {
  margin-bottom: 60px;
}


.main-navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 56px;
}

.main-navigation::before {
  position: absolute;
  content: "";
  width: 140px;
  height: 71px;
  left: calc(50% - 70px);

  background-image: url(../img/logo.svg);
}

.main-navigation a {
  display: inline-block;
  vertical-align: middle;
  padding: 15px 72px;

  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: center;
}

.main-navigation .active-page {
  color: #766357;
}

.picture {
  background-image: url(../img/polygon.svg), url(../img/background-photo.jpg);
  background-repeat: no-repeat;
  background-position: 0 calc(100% + 1px), 0 28%;
  text-align: center;
  padding: 78px 0 85px;
  height: 508px;
}

.page-title {
  font-size: 21px;
  line-height: 1.24;

  text-align: center;
  margin: 0 auto 38px;
  width: 440px;
  height: 48px;
}

.page-title + p {
  width: 489px;
  line-height: 1.86;
  text-align: center;
  margin: 0 auto 55px;
}

.feature {
  min-height: 256px;
  background-image: url(../img/feature-picture.jpg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  color: #ffffff;
  line-height: 21px;
  margin-bottom: 60px;
}

.feature h3 {
  font-size: 21px;
  line-height: 1;
  text-align: center;
  width: 142px;
  min-height: 37px;
  margin: 0 auto 33px;
}

.feature__description {
  background-color: #81b3d2;
  width: 400px;
  height: 256px;
  padding: 50px 60px 64px;
  text-align: center;
}

.feature-2 {
  margin-bottom: 0;
  background-image: url(../img/feature-picture-2.jpg);
  background-position: 0 100%;
}

.feature-2 .feature__description {
  margin-left: auto;
}

.advantages {
  padding: 0 63px 85px 73px;
}

.advantages h2 {
  margin: 0 0 31px;
}

.advantages p {
  margin: 0;
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-between;
}

.advantages__list li {
  position: relative;
  max-width: 284px;
  text-align: center;
  padding-top: 100px;
}

.advantages__list li::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  left: calc(50% - 37px);
}

.advantages__list li:first-child::before {
  background-image: url(../img/icon-1.svg);
  width: 74px;
  height: 74px;
}

.advantages__list li:nth-child(2)::before {
  background-image: url(../img/icon-3.svg);
  width: 74px;
  height: 70px;
}

.advantages__list li:nth-child(3)::before {
  background-image: url(../img/icon-2.svg);
  width: 64px;
  height: 76px;
}

.advantages-2 {
  background-color: #eeeeee;
  padding: 50px 63px 64px 73px;
  margin-bottom: 60px;
}

.advantages-2 h2 {
  margin: 0 0 31px;
}

.advantages-2 p {
  margin: 0;
}

.advantages-2__list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-between;
}

.advantages-2__list li {
  padding: 0;
  text-align: center;
}

.book {
  text-align: center;
}

.book > h2 {
  margin: 0 auto 38px;
  width: 300px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.book > p {
  width: 500px;
  text-align: center;
  margin: 0 auto 50px;
}

.button {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    border: none;
}

.book > .button {
  padding: 35px;
  width: 568px;
  min-height: 86px;
  background-color: #766357;
}

.map {
  position: relative;
  width: 1200px;
  height: 593px;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
}

/* страница каталога */

.filter {
  display: flex;
  justify-content: space-between;

  min-height: 217px;
  padding: 30px 73px;
  background-image: url(/img/filter-background.jpg);
  background-repeat: no-repeat;
  background-position: 0 60% ;

  line-height: 1.5;
  color: #ffffff;
}

.filter .container{ 
  display: flex;
}

.infrastructure {
  margin-right: 115px;
}

.filter h2 {
  font-size: 16px;
  line-height: 1.31;
  margin: 0 0 28px;
}

.filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter li {
  margin-bottom: 36px;
}

.filter li:last-child {
  margin-bottom: 0;
}

.price .button {
  display: block;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  padding: 11px 33px;

  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  margin: 0 auto;
}

.price .button:hover{
  color: #000000;
  background-color: #ffffff;
}

.price input[type="text"] {
  background-color: transparent;
  border: solid 2px #ffffff;  
  font-size: 14px;
  height: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  border-radius: 3px;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  width: 317px;  
  margin-bottom: 34px;
  padding-top: 22px;
 
  background-color: transparent;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #ffffff;
}

.range-controls .toggle {
  width: 20px;
  height: 20px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;

  position: absolute;
  top: 13px;
  left: 0;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 140px;
}

.sort { 
  display: flex;
  align-items: center;
  padding: 30px 72px;
}

.sort h3 {
  margin: 0;
  margin-right: 50px;
}

.catalog-item {
  display: flex;
  padding: 30px 72px;
  line-height: 1;

}


.catalog-item > img {
  margin-right: 30px;
}

.catalog-item h4 {
  margin: 0 0 12px;
  max-width: 250px; 
  font-size: 21px; 
 
}

.catalog-item .container {
  display: flex; 
}

.stars {
  font-size: 0;
}

.stars img:not(:last-child) {
  margin-right: 5px;
}

.divider {
  height: 1px;
}

.button-details{
  display: block;
  width: 110px;
  min-height: 27px;
  background-color: #81b3d2;  
  color: #ffffff;
  padding: 7px 17px;  
  line-height: 1;
  font-size: 14px;
  font-weight: bold;
  text-align: center; 

  margin: 15px 5px 0 0;
}


.button-book {
  display: block;
  width: 142px;
  min-height: 27px;
  background-color: #766357;  
  color: #ffffff;
  padding: 7px 16px;
  line-height: 1;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}

.rating {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end; 
}

.rate {
   width: 110px;
   min-height: 27px;
   padding: 5px 12px 6px 13px;
   color: #666666;
   line-height: 1;
   text-align: center;
   background-color: #f2f2f2;
}

.main-footer {
  width: 1200px;
  min-height: 120px;
  background-color: #ffffff;
  padding: 36px 100px 36px 130px;

  display: flex;
  align-items: center;
}

.main-footer-cover {
  position: absolute;
  z-index: 10;
  opacity: 0.9;
  bottom: 0;
}

.contacts {
  width: 225px;
  margin-right: 170px;
}

.contacts p {
  text-align: left;
  margin: 0;
  margin-bottom: 16px;
  font-size: 21px;
  line-height: 1.24;
  font-weight: bold;
  max-width: 100%;
}

.hash {
  width: 136px;
}

.phone-number {
  width: 225px;
}


.socials {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 150px;
  margin-right: 240px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.copyright {
    width: 200px;
    display: flex;
    align-items: center;    
}
.copyright span {
    width: 75px;
    margin-right: 8px;
}

.copyright svg {
    width: 115px;
    height: 41px;
    fill: #231f20;
}

.copyright p {
  margin: 0;
}

.modal-search {  
    font-weight: bold;
    line-height: 1.86;

    display: none;
    width: 568px;
    min-height: 395px;
    background-color: #ffffff;
    padding: 55px;
    margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px; 
  
}

.modal-search input {
    background-color: #f2f2f2;
    border: none;
    width: 346px;
    height: 38px;   
    
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: bold;  
    line-height: 1.86;
    text-transform: uppercase;
}

.modal-search input[type="text"] {
  padding: 15px 30px 15px 12px;
}

.modal-search input[type="number"] {
  position: relative;
  width: 38px;
  height: 38px;
}

.modal-search input[type="number"]::before {
  position: absolute;
  left: 20px;
  top: 10px;
 
  content: '';
  width: 38px;
  height: 38px;
  background-color: #751a1a;
  z-index: 100;
}

.modal-search input[type="number"]::after {
  position: absolute;
  content: ''; 
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  z-index: 100;
}

.modal-search .button {
    background-color: #81b3d2;
    width: 458px;
    min-height: 58px;
    margin-top: 24px;   
}

.modal-show {
    display: block;
}